body {
  padding: 0;
  margin: 0;
  background: #a1a1a1;
  display:flex;
}

h1, p {
  letter-spacing: 0.1em;
}

.with-sidebar {
	display: flex;
	gap: 1rem;
	height: 100vh;
  }
  
  .sidebar {
	padding: .9em;
	color: #ffffff;
	background: #393939;
	/* ↓ The width when the sidebar _is_ a sidebar */
	flex-basis: 20rem;
	/* flex-grow: 1;  */
	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  }
  
  .not-sidebar {
	padding: .9em;
	color: #393939;
	/* ↓ Grow from nothing */
	flex-basis: 0;
	flex-grow: 999;
	/* ↓ Wrap when the elements are of equal width */
	min-inline-size: 50%;
  }

 

  #selfImg {
	width: 100%;
  }

  .assignments {
	height: 20%;
  }

  .comingSoonBox {
	padding: 3em;
	width: 100%;
	color:#393939;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  
