body {
  background: #a1a1a1;
  display:flex;
}

h1, p {
  letter-spacing: 0.1em;
}

.with-sidebar {
	display: flex;
	/* gap: 1rem; */
  }
  
  .sidebar {
	color: #ffffff;
	background: #393939;
	/* ↓ The width when the sidebar _is_ a sidebar */
	flex-basis: 20rem;
	flex-grow: 1;
  }
  
  .not-sidebar {
	color: #393939;
	/* ↓ Grow from nothing */
	flex-basis: 0;
	flex-grow: 999;
	/* ↓ Wrap when the elements are of equal width */
	min-inline-size: 50%;
  }

  #ohHai {
	justify-content: center;
  }

  #selfImg {
	width: 100%;
  }

  .fakeBoxes {
	height: 200px;
  }
  
  
